<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">MovieFlix</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/add_title">Add Title</a></li>
            <li><a routerLink="/edit_title">Edit Title</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a><span class="glyphicon glyphicon-user"></span>Welcome, {{username}}</a></li>
            <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div id="remove_dialog">
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        <tr *ngFor="let video of videoList">
            <td><a class="title_link" [routerLink]="[video.videoId]">{{video.title}}</a></td>
            <td><a [routerLink]="[video.videoId]"><span class="edit glyphicon glyphicon-edit"></span></a></td>
            <td><a (click)="delete([video.title])"><span class="remove glyphicon glyphicon-remove"></span></a></td>
        </tr>
    </table>

</div>
