$font: "Times New Roman", Georgia, Serif;
$red: red;
$white: #e6e6e8;
$black: black;
$darkred: #300032;
$grey: grey;
$green: green;
$blackborder: 1px solid black;
$redborder: 1px solid #300032;
$light-grey: #f3f3f3;
$hfont: 'Bevan', cursive, 'Merriweather', serif;
